<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>blog</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="/content.css">
    </head>
    <body>
        <footer class="border-top">
            <% var year = new Date().getFullYear() %>
            <p class="py-3">Copyright © <%= year %></p>
        </footer>
    </body>
</html>