<!DOCTYPE html>
<html lang="en">
    <head>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/content.css">   
    </head>
    <body?>
        <%-include("partials/header.ejs")  %>

        <div class="content">
            <h1 class="mainTitle">Welcome to the Blog, feel free to post and review these blogs</h1>
            <div class="butt">
                <form class="main postB" action="/post" method="POST">
                    <input class="btn" type="submit" value="post blog">
                </form>
                <form  class="main viewB" action="/view" method="POST">
                    <input class="btn" type="submit" value="view blog">
                </form>
            </div>
        </div>


        <%-include("partials/footer.ejs")  %>
    </body>
</html>