<!DOCTYPE html>
<html lang="en">
    <head>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/content.css">   
    </head>
    <body?>
        <%-include("partials/header.ejs")  %>
        <div class="viewSection">
            <h1 class="viewTitle">View your post</h1>
            <form class="search" action="/edit" method="post">
                <label class = "EditTitle" for="fname">Enter the title you want to edit or delete</label><br >
                <input class="Edit1" type="text" id="SearchTitle" name="SearchTitle" placeholder="title">
                <input class="Edit2" type="submit" value="Search">
            </form>
            <div class="displayContent">
                <% for(var j =0;j<titleHolder.length;j++){ %>
                    <h3><%= titleHolder[j] %></h3>
                    <p><%= contentHolder[j] %></p>
                <% } %>
            </div>

        </div>
        


        <%-include("partials/footer.ejs")  %>
    </body>
</html>